# TODO: Update with exact module version
numpy
opencv_python
loguru
tqdm
thop
ninja
tabulate

# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools
onnx
onnxruntime
onnx-simplifier
